<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Title and Description -->
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />
    <meta name="keywords" content="{{ tags.join(', ') }}" />

    <!-- Favicons -->
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="{{environment.baseURL}}/assets/favicons/apple-icon-152x152.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{environment.baseURL}}/assets/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{environment.baseURL}}/assets/favicons/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="{{environment.baseURL}}/assets/favicons/favicon-96x96.png"
    />
    <meta name="msapplication-TileColor" content="#DC1616" />
    <meta name="theme-color" content="#DC1616" />

    <!-- Twitter -->
    <meta name="twitter:creator" content="@androidanyl" />
    <meta name="twitter:site" content="@androidanyl" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:alt" content="{{ settings.author }}" />
    <meta property="twitter:description" content="{{ description }}" />
    <meta
      name="twitter:image"
      content="{{ environment.baseUrl }}/assets/{{ thumbnail }}.png"
    />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- Canonical -->
    <link rel="canonical" href="{{ environment.baseUrl }}" />

    <!-- Open Graph -->
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description  }}" />
    <meta
      property="og:image"
      content="{{ environment.baseUrl }}/assets/{{ thumbnail }}.png"
    />
    <meta property="og:url" content="{{ environment.baseUrl }}" />
    <meta property="og:type" content="article" />

    <!-- Main CSS -->
    <link rel="stylesheet" href="{{ environment.baseUrl }}/css/style.css" />

    <!-- Google fonts - Inter, Space Grotesk and Roboto Mono -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Roboto+Mono&family=Space+Grotesk:wght@700&display=swap"
      rel="stylesheet"
    />

    <!-- Prism.js stylesheet -->
    {% if settings.style.codeTheme == 'synth' %}
    <link
      href="{{ environment.baseUrl }}/css/prism-synthwave-theme.css"
      rel="stylesheet"
    />
    {% else %}
    <link
      href="{{ environment.baseUrl }}/css/prism-theme.css"
      rel="stylesheet"
    />
    {% endif %}

    <!-- Google Analytics -->
    {% if environment.nodeEnv == "production" %}
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-3RMRSF5KQV"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'G-3RMRSF5KQV');
    </script>
    {% endif %}
  </head>
  <body class="h-screen flex flex-col justify-between">
    <div>{% include './partials/navbar.html' %} {{ content | safe }}</div>
    {%include './partials/footer.html' %}
  </body>
</html>
