---
layout: default
---

<div
  class="md:m-auto md:mt-6 max-w-3xl md:flex md:flex-col md:justify-center md:items-center m-6"
>
  <div>
    {% remoteImage title, cover, "Blog post cover" %}
    <p
      class="font-medium text-[10px] sm:text-xs text-center mt-2 text-gray-300"
    >
      {{ coverCredit | safe }}
    </p>
  </div>
  <p class="caption my-3 mt-8 text-accent-red">{{ category | upper }}</p>
  <h1
    class="capitalize font-bold text-4xl md:text-center md:text-5xl md:leading-[1.15] md:max-w-2xl lg:text-6xl lg:leading-[1.15]"
  >
    {{ title }}
  </h1>
  <hr class="my-5 bg-black md:w-full" />
  <h2 class="font-semibold text-2xl md:text-center max-w-xl lg:max-w-2xl">
    {{ description }}
  </h2>
  <hr class="my-5 bg-black md:w-full" />
  <article
    class="prose prose-img:rounded-lg prose-h1:text-5xl prose-h2:text-4xl prose-h3:text-2xl prose-p:text-xl prose-li:text-xl prose-li:my-6 lg:prose-xl mb-16 mt-6"
  >
    {{ content | safe }}
  </article>
  <hr class="mb-8 bg-black md:w-full" />
  <div class="relative">
    <div
      class="absolute -inset-0.5 rounded-lg bg-gradient-to-r from-pink-500 to-lime-500 transition-opacity duration-100 opacity-100 blur"
    ></div>
    <div
      class="relative flex flex-col sm:flex-row justify-center items-center sm:items-start rounded-lg bg-gray-900 py-10 px-6 sm:p-14 shadow shadow-yellow-500"
    >
      <img
        class="rounded-full w-20 border-4 border-slate-200"
        src="{{ environment.baseUrl }}/assets/dan.jpeg"
        alt="Danyl Fernandes"
      />
      <p
        class="text-base sm:text-lg sm:ml-7 text-slate-300 mt-4 sm:mt-0 text-center sm:text-left"
      >
        Hi, I'm Danyl 👋, a software engineer. I love linux, open-source
        software and all things tech. Among other things, I love Marvel movies
        🍿, am a Daniel Craig fan and my favorite author is Simon Sinek 📚
      </p>
    </div>
  </div>
  {% if environment.nodeEnv == "production" and settings.comments.enabled %}
  <div class="container mt-8">
    <script
      src="https://utteranc.es/client.js"
      repo="gitryder/danwrites"
      issue-term="title"
      label="blog-comments"
      theme="{{ settings.comments.theme }}"
      crossorigin="anonymous"
      async
    ></script>
  </div>
  {% endif %}
</div>
