---
layout: default
---

<div
  class="md:m-auto md:mt-6 max-w-3xl md:flex md:flex-col md:justify-center md:items-center m-6"
>
  {% remoteImage title, cover, "Blog post cover" %}
  <p class="caption my-3 mt-8 text-accent-red">{{ category | upper }}</p>
  <h1
    class="font-bold text-4xl md:text-center md:text-5xl md:max-w-2xl lg:text-6xl"
  >
    {{ title }}
  </h1>
  <hr class="my-5 bg-black md:w-full" />
  <h2 class="font-semibold text-2xl md:text-center max-w-xl lg:max-w-2xl">
    {{ description }}
  </h2>
  <hr class="my-5 bg-black md:w-full" />
  <article
    class="prose prose-img:rounded-lg prose-h1:text-5xl prose-h2:text-4xl prose-h3:text-2xl prose-p:text-xl prose-li:text-xl prose-li:my-6 lg:prose-xl"
  >
    {{ content | safe }}
  </article>
</div>
