---
layout: default
---

<div class="m-6">
  {% remoteImage title, cover, "Blog post cover" %}

  <p class="caption my-3 mt-8">{{ category | upper }}</p>
  <h1 class="font-bold text-4xl">{{ title }}</h1>
  <hr class="my-5 bg-black" />
  <h2 class="font-semibold text-2xl">{{ description }}</h2>
  <hr class="my-5 bg-black" />
  <article
    class="prose prose-img:rounded-lg prose-h1:text-5xl prose-h2:text-4xl prose-h3:text-2xl prose-p:text-xl prose-li:text-xl prose-li:my-6 lg:prose-xl"
  >
    {{ content | safe }}
  </article>
</div>
